.Todo {
    width: 450px;
    border-radius: 20px;
    background: #1E293B;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 90%;
    padding: 25px;
}

.input-container {
    align-items: center;
    display: flex;
    gap : 10px ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0F172A;
    min-height: 100vh;
}

hr {
    border: none;
    border-top : 2px dashed #888 ;
}

h1 {
    text-align: center;
    color: white;
}

.btn {
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: chocolate;
    border-radius: 15px;
}

.btn2 {
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: cornflowerblue;
    border-radius: 15px;
}
.btn:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

.btn2:hover {
    transform: scale(1.03);
    transition: 0.3s ease; 
}

 .filters {
    display: flex;
    gap : 10px ;
}

.input-container input {
    flex : 1 ;
    border-radius: 20px;
    outline: none;
    padding: 10px;
}

.edit {
    width: 50px;
}

h2{
    color : white ;
    display: flex;
    flex-direction: row;
}

.counter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-text {
    color : white ;
    font-size : 18px ;
    font-weight: 500;
    margin-left : 20px ;
}