.Todo {
    width: 380px;
    border-radius: 20px;
    background: #1E293B;
    padding: 25px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0F172A;
    min-height: 100vh;
}

hr {
    border: none;
    border-top : 2px dashed #888 ;
}

h1 {
    text-align: center;
}

.btn {
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: chocolate;
    border-radius: 15px;
}

.btn2 {
    cursor: pointer;
    width: 90px;
    height: 30px;
    display: block;
    background-color: cornflowerblue;
    border-radius: 15px;
}
.btn:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

.btn2:hover {
    transform: scale(1.03);
    transition: 0.3s ease; 
}

.Todo .filters {
    display: flex;
    
}

input {
    width: 250px;
    border-radius: 20px;
    outline: none;
    padding: 10px;
}